*{
    margin: 0;
    padding: 0;
    font-family:'Popins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #080808;
    color: #fff;
}
#particles-js{
    width: 100%;
    height: 100vh;
    position:absolute;
}
.logo{
    width: 8%;
    height: 8%;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url('./images/header.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position:right;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;  
}
nav ul li a{
text-decoration: none;
color: #fff;
font-size: 18px;
position: relative;
}
nav ul li a::after{
content:'';
width:0;
height: 3px;
background: #78C1F3;
position: absolute;
left:0;
bottom: -6px;
transition: 0.5s;
}
nav ul li a:hover::after{
width: 100%;
}
nav ul li a:hover{
color:#78C1F3 ;
}
.header-text{
    margin-top: 20%;
    font-size: 20px;
    line-height: 2rem;
}
.header-text h1{
    font-weight: bold;
    line-height: 4rem;
}
.header-text h1 span{
    color:#78C1F3 ;
}
/* about */
.container{
    margin: 5px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.row .about-col-1{
flex-basis: 30%;
}
.row .about-col-1 img:hover{
    filter: grayscale(100%);
}
.row .about-col-2{
flex-basis: 40%;
}
.row .about-col-2 .content h1{
    color: #78C1F3;
    line-height: 4rem;
}
.row .about-col-2 .content .contents {
    color:#ababaa;
    line-height: 1.5rem;
    font-size: 18px;
}
.table-title{
display: flex;
margin: 20px 0 40px;
}
.table-link{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.table-link::after{
content:'';
width:0%;
height: 3px;
background: #78C1F3;
position: absolute;
left:0;
bottom: -6px;
transition: 0.5s;
}
.table-link.active-link::after{
    width: 100%;
}
.table-content ul li {
    list-style: none;
    margin: 10px 0;
}
.table-content ul li span{
    font-size: 16px;
    color: #78C1F3;
}
.table-content{
    display: none;
}
.table-content.active-tab{
    display: block;
}
/* projects */
#Projects{
    padding: 30px 0px;
}
.sub-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 20px;
    margin-top: 30px;
}
.sub-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    transition: background-color 0.5s, tranform 0.5s;
}
.sub-list div h2{
    font-size: 25px;
}
.sub-list div p{
    margin-top: 10px;
    margin-bottom: 15px;
}
.sub-list div i{
    font-size: 35px;
    margin-bottom: 5px;
    padding-bottom: 30px;
}
.sub-list div a{
    text-decoration:none;
    color: #fff;
    font-weight: 800;
   text-align: center;
   font-size: 15px;
}
.sub-list div:hover{
    background-color:#78C1F3;
    color: #000;
    transition:translateY(-10px);
}


#projects{
padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 20px;
    margin-top: 30px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block; 
    height: 100%;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#78C1F3);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    font-size: 14px;
    color: #ababaa;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 10px;
    text-decoration: none;
    color: #ababaa;
    background-color: #fff;
    width: 60px;
    line-height: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border:  solid 1px #78C1F3;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #78C1F3;
    transition: transform 1.5s;
}
.btn:hover{
    background-color:#78C1F3;
    color: #000;
}
/* contacts css */

.contact-left{
    flex-basis: 30%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 45px;
}
.contact-left p i{
    margin-right: 20px;
}
.contact-icons i{
margin-top: 40px;
margin-right: 20px;
font-size: 25px;
display: inline-block;
transition: transform 0.5s;
}
.contact-icons a:hover{
    color: #78C1F3;
    transform: translateY(-5xp);
}
.btn.btn2{
    display:inline-block;
    background: #78C1F3;
    color: #000;
}
.contact-right form{
width: 100%;
}
form input,form textarea{
    width: 100%;
    margin: 15px;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    background-color:#262626 ;
    border: 0;
    outline: none;
}
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    resize: vertical;
  }  
form .btn2{                                                                                                     
    padding: 14px 60px;
    margin-left: 18px;
    font-size: 15px;
}